In [1]:
import pandas as pd
import numpy as np

In [2]:
folder = 'C:/Users/jullian/Desktop/Jullian/Jullian/Data/DANS/OViN_2011-2017_Final/OViN_2011-2017_Final/'
filename = 'OVIN_2011-2017.csv'
path = folder + filename
ovin = pd.read_csv(path)

ovin['VerplNr'] = pd.to_numeric(ovin['VerplNr'],errors = 'coerce')
ovin['AankPC'] = pd.to_numeric(ovin['AankPC'],errors = 'coerce')
ovin['VertPC'] = pd.to_numeric(ovin['VertPC'],errors = 'coerce')
ovin['BuurtAdam'] = pd.to_numeric(ovin['BuurtAdam'],errors = 'coerce')

C:\Users\jullian\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3051: DtypeWarning: Columns (34,35,89,90,95,96,97,98,101,102,107,108,109,110,117,130,143,150,165,173,174,179) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
#ovin['OPID'] = ovin['OPID'].astype('str')
#ovin['Jaar'] = ovin['Jaar'].astype('str')
#ovin['OPID2'] = ovin['OPID'].str.cat(ovin['Jaar'])
#print(len(ovin['OPID2']))
#print(len(ovin['OPID2'].unique()))
#print(len(ovin['OPID'].unique()))

In [3]:
# This function creates a column which tells whether the individual made a trip in Amsterdam
def Amsterdam_trip(ovin):
    #ovin['VerplNr'] = pd.to_numeric(ovin['VerplNr'],errors = 'coerce')
    # add column with postal code area of a person's home
    #ovin['WoonPC'] = np.where(((ovin['Vertrekp']==int(1)) &  (ovin['VerplNr']==int(1))), ovin['VertPC'], np.NaN)
    ovin['Amsterdam_vpl'] = np.where(((ovin['VertGem']== '363') | (ovin['AankGem']=='363')),1,np.NaN)
    # persons with same id have same home
    #print(ovin[['OPID','Amsterdam_vpl']])
    ovin['Amsterdam_vpl'] = ovin[['OPID','Amsterdam_vpl']].groupby('OPID').ffill()
    ovin['Amsterdam_vpl'] = ovin[['OPID','Amsterdam_vpl']].groupby('OPID').bfill()
    ovin['Amsterdam_vpl'] = ovin['Amsterdam_vpl'].fillna(0)
    #print(ovin[['OPID','Amsterdam_vpl']])
    return ovin

In [4]:
# This function creates 
def Car_trip(ovin):
    # add column with postal code area of a person's home
    #ovin['WoonPC'] = np.where(((ovin['Vertrekp']==int(1)) &  (ovin['VerplNr']==int(1))), ovin['VertPC'], np.NaN)
    ovin['car_trip'] = np.where((ovin['RVm']== '6'),1,np.NaN)
    # persons with same id have same home
    ovin['car_trip'] = ovin[['OPID','car_trip']].groupby('OPID').ffill()
    ovin['car_trip'] = ovin[['OPID','car_trip']].groupby('OPID').bfill()
    ovin['car_trip'] = ovin['car_trip'].fillna(0)
    #print(ovin[['OPID','car_trip']])
    return ovin

In [5]:
def thuislocatie(ovin):
    ovin['home'] = np.where(((ovin['VerplNr'] == 1) & (ovin['Vertrekp'] == 1)),ovin['VertPC'],np.NaN)
    ovin['home'] = ovin[['OPID','home']].groupby('OPID').ffill()
    ovin['home'] = ovin['home'].fillna(0)
    return ovin

In [6]:
temp = Amsterdam_trip(ovin)
temp = Car_trip(temp)
temp = thuislocatie(temp)

['__call__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__name__',
 '__ne__',
 '__new__',
 '__qualname__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__self__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__text_signature__']

In [7]:
l = temp[temp['Amsterdam_vpl']==1]
print(len(l['OPID'].unique())) # aantal individuen die een verplaatsing in Amsterdam heeft gemaakt.
l = l[l['car_trip']==1]
len(l['OPID'].unique()) #aantal individuen die met de auto een verplaatsing in Amsterdam hebben gedaan.

15514

4966

In [76]:
Filtered_ovin = temp[((temp['Amsterdam_vpl']== 1) & (temp['car_trip']== 1))]
PC4_Amsterdam = np.where(Filtered_ovin['BuurtAdam'] != 0,Filtered_ovin['home'],0)
PC4_Amsterdam = np.unique(PC4_Amsterdam)

# count how many individuals travelled to a specific AankPC 
count_AankPC = Filtered_ovin.groupby('AankPC').OPID.nunique()[PC4_Amsterdam]
count_VertPC = Filtered_ovin.groupby('VertPC').OPID.nunique()[PC4_Amsterdam]
count_BuurtAdam = Filtered_ovin.groupby('BuurtAdam').OPID.nunique()

# Filter the counts on amsterdam PC
#count_AankPC
#count_BuurtAdam
#count_AankPC
#PC4_Amsterdam
#Filtered_ovin.groupby('AankPC').OPID.nunique()

#print(Filtered_ovin['AankPC'].value_counts())
#print(Filtered_ovin['BuurtAdam'].value_counts())

count_AankPC.to_csv(r'C:\Users\jullian\Desktop\Jullian\Jullian\Data\SimPark\Jullian\Untitled Folder\AankPC_count.csv')
count_VertPC.to_csv(r'C:\Users\jullian\Desktop\Jullian\Jullian\Data\SimPark\Jullian\Untitled Folder\VertPC_count.csv')
count_BuurtAdam.to_csv(r'C:\Users\jullian\Desktop\Jullian\Jullian\Data\SimPark\Jullian\Untitled Folder\BuurtAdam_count.csv')
#Filtered_ovin.to_csv(r'C:\Users\jullian\Desktop\Jullian\Jullian\Data\SimPark\Jullian\Untitled Folder\Filtered_ovin.csv')

C:\Users\jullian\Anaconda3\lib\site-packages\ipykernel_launcher.py:20: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
C:\Users\jullian\Anaconda3\lib\site-packages\ipykernel_launcher.py:21: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
C:\Users\jullian\Anaconda3\lib\site-packages\ipykernel_launcher.py:22: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.

In [96]:
Filtered_ovin['home'].unique()

array(['1423', '1464', '1069', 0, '1034', '1013', '1032', '1107', '1962',
       '1052', '1112', '1025', '1074', '2121', '1079', '1066', '6181',
       '9291', '1016', '1062', '1326', '2151', '1067', '1077', '1104',
       '1028', '1115', '1508', '1051', '3089', '2011', '1611', '1086',
       '1171', '1335', '1541', '1035', '3454', '1561', '4005', '1021',
       '1181', '1060', '1771', '9244', '1214', '1132', '2406', '1566',
       '2036', '1443', '2134', '1943', '1187', '2012', '1059', '1462',
       '1338', '1218', '1622', '1628', '1313', '1053', '1451', '1057',
       '2132', '1411', '1401', '1328', '1141', '1087', '2318', '1095',
       '1082', '1017', '1901', '1098', '2135', '1448', '1075', '6717',
       '6997', '8224', '1078', '1033', '1442', '1521', '2451', '1363',
       '1834', '2343', '1445', '1318', '1018', '2033', '1967', '1319',
       '1991', '2271', '1355', '1504', '1103', '3221', '2742', '1058',
       '8243', '1317', '1273', '2025', '8031', '2101', '2334', '1186',
       '1356', '1676', '1323', '1359', '1109', '8271', '1056', '2544',
       '2071', '1946', '1403', '1063', '1751', '1339', '1965', '1321',
       '1721', '4254', '1861', '1024', '1093', '1444', '1544', '1562',
       '1333', '1433', '1963', '1421', '1019', '3742', '1431', '2405',
       '1054', '2015', '1511', '9051', '5708', '3435', '1343', '5046',
       '1065', '1862', '1055', '3534', '2202', '1091', '1911', '1747',
       '4063', '1068', '1188', '2152', '1412', '1061', '2381', '1094',
       '6511', '3828', '5121', '3632', '1619', '6221', '1507', '1689',
       '1324', '3061', '1354', '1131', '1111', '1113', '1076', '2082',
       '5505', '8304', '3755', '1217', '8253', '1106', '1382', '8303',
       '1353', '1108', '2023', '1015', '1081', '2041', '1948', '1476',
       '1902', '8913', '3453', '1072', '1071', '2024', '1036', '1602',
       '8072', '2102', '1102', '1121', '1391', '1551', '3233', '2497',
       '1473', '1461', '1325', '1501', '1441', '1311', '1336', '3925',
       '1671', '1312', '2171', '1398', '3621', '8245', '1165', '1475',
       '9728', '1822', '2741', '8232', '1096', '1422', '1405', '1567',
       '1351', '1851', '7245', '1974', '1183', '1271', '1446', '1841',
       '8255', '6013', '8274', '1316', '8226', '6531', '1951', '1394',
       '1972', '1625', '2521', '3892', '3319', '8242', '1073', '3891',
       '5801', '1447', '8471', '6741', '1314', '7383', '2371', '7627',
       '2035', '3581', '2133', '1502', '8442', '4351', '3192', '8212',
       '7828', '1971', '1191', '1161', '3743', '1023', '1406', '3761',
       '3902', '2421', '1606', '1012', '3962', '3993', '1827', '7991',
       '2545', '2267', '2316', '8322', '5233', '3811', '1092', '3315',
       '3225', '3705', '3738', '3072', '1964', '3451', '1097', '1506',
       '5282', '2355', '1064', '1223', '2332', '3604', '3438', '1083',
       '1357', '2564', '4209', '2402', '3051', '1014', '1509', '2651',
       '1722', '3513', '3067', '8872', '1906', '8446', '5263', '3512',
       '1022', '3371', '3544', '1261', '6591', '3437', '3641', '3116',
       '3446', '1657', '3274', '2064', '2105', '7037', '1992', '2051',
       '1829', '8225', '3021', '1189', '1213', '1944', '4461', '6049',
       '3813', '1531', '1631', '3601', '4702', '1613', '8081', '3893',
       '5816', '8223', '3633', '8251', '8629', '2153', '2034', '2022',
       '8485', '2481', '5583', '7542', '1704', '1503', '3583', '5061',
       '3645', '1815', '6851', '1505', '4141', '2141', '1383', '3474',
       '8244', '8041', '2111', '3816', '3905', '2282', '1011', '3607',
       '2191', '1432', '1241', '6039', '1216', '2821', '8219', '3723',
       '2037', '8734', '1272', '1151', '8556', '5345', '8309', '2612',
       '3947', '3864', '3739', '9621', '1761', '2551', '2042', '5302',
       '4872', '1942', '2157', '3772', '3707', '3572', '3135', '1127',
       '2548', '3442', '9301', '1693', '8312', '2717', '1251', '8861',
       '1435', '2587', '2021', '1026', '2801', '1477', '1624', '1969',
       '6852', '1381', '7321', '7958', '4322', '1452', '3331', '1399',
       '9014', '1749', '3882', '3921', '4003', '2724', '1135', '1811',
       '6165', '5247', '4126', '1741', '6713', '1211', '6538', '6811',
       '6862', '1966', '6151', '4631', '2805', '3842', '1315', '3812',
       '5071', '3903', '3481', '3706', '2211', '8608', '1695', '4813',
       '5971', '3403', '5706', '6708', '4132', '1483', '2182', '5049',
       '3564', '1334', '2566', '3206', '3317', '1454', '4381', '4251',
       '2341', '1185', '1221', '3452', '2584', '2807', '3571', '1101',
       '3904', '3119', '1402', '1715', '3991', '3823', '1705', '2771',
       '2377', '8241', '4456', '1274', '1276', '5211', '3445', '3992',
       '7335', '3551', '1358', '2729', '3527', '1424', '2811', '2719',
       '3722', '1941', '7823', '4158', '9721', '5591', '2408', '2116',
       '2165', '3825', '3023', '9765', '2014', '1275', '1231', '7971',
       '5017', '2181', '5251', '3861', '1973', '3631', '3762', '3628',
       '3515', '2026', '1031', '6417', '1243', '1352', '8472', '6541',
       '9247', '3603', '1474', '2582', '4854', '2114', '2061', '1777',
       '8925', '1396', '2461', '1718', '2562', '6871', '5152', '2586',
       '5038', '7905', '1252', '3073', '1654', '2221', '3532', '8321',
       '3732', '1703', '2992', '8252', '6166', '7433', '6814', '2595',
       '2522', '3765', '4927', '7418', '5151', '2902', '3734', '1645',
       '3335', '4007', '3318', '6998', '7609', '2274', '4328', '5232',
       '3077', '3514', '2403', '3971', '0', '5301', '9356', '2312',
       '9781', '8302', '2547', '2172', '8494', '8071', '3417', '8211',
       '5481', '4871', '2231', '1785', '8231', '2131', '4645', '1482',
       '2104', '2287', '1027', '6823', '1153', '3028', '4875', '7722',
       '3824', '8015', '3582', '3829', '6842', '4902', '7603', '4102',
       '2352', '2013', '7711', '7545', '5351', '3751', '7437', '2375',
       '9581', '1813', '4116', '1788', '3818', '2136', '1742', '7325',
       '3171', '2624', '6812', '6921', '5324', '2215', '5711', '3648',
       '1775', '9359', '6269', '5315', '4464', '9551', '3432', '3053',
       '4706', '1702', '9251', '3055', '3731', '2273', '5508', '9965',
       '9363', '4424', '6836', '1277', '3069', '1781', '5691', '2596',
       '7742', '3328', '8607', '6026', '7822', '1456', '1145', '1601',
       '2032', '9321', '9801', '9601', '9628', '3121', '7333', '3831',
       '1687', '2806', '4874', 2841.0, 1069.0, 1087.0, 1107.0, 8253.0,
       3761.0, 1431.0, 1186.0, 1077.0, 1053.0, 1055.0, 1017.0, 1015.0,
       1019.0, 1103.0, 1109.0, 2032.0, 1171.0, 1217.0, 1191.0, 1441.0,
       3144.0, 2741.0, 2411.0, 1363.0, 1335.0, 1018.0, 1112.0, 1394.0,
       1336.0, 7323.0, 6531.0, 8096.0, 3931.0, 3947.0, 1181.0, 1056.0,
       1068.0, 1102.0, 1106.0, 1052.0, 1058.0, 1946.0, 1403.0, 2024.0,
       2012.0, 1165.0, 1447.0, 1422.0, 1506.0, 2341.0, 3137.0, 2722.0,
       1151.0, 8245.0, 1031.0, 1095.0, 1081.0, 2111.0, 1326.0, 3891.0,
       3822.0, 3543.0, 3962.0, 3404.0, 1054.0, 1051.0, 1066.0, 1064.0,
       1025.0, 1097.0, 1034.0, 1079.0, 1935.0, 1111.0, 2134.0, 2152.0,
       1121.0, 1412.0, 1718.0, 1383.0, 1501.0, 2403.0, 2408.0, 3263.0,
       3645.0, 5646.0, 3972.0, 8607.0, 2261.0, 1187.0, 1098.0, 1033.0,
       1562.0, 1328.0, 3892.0, 4197.0, 3766.0, 1811.0, 1183.0, 1035.0,
       1061.0, 1067.0, 1060.0, 1032.0, 1082.0, 1072.0, 1075.0, 1401.0,
       2135.0, 1213.0, 1448.0, 1985.0, 2041.0, 2771.0, 1616.0, 5427.0,
       5254.0, 6102.0, 2481.0, 2641.0, 1063.0, 1446.0, 1444.0, 1474.0,
       1311.0, 1323.0, 1339.0, 7558.0, 7328.0, 6716.0, 6714.0, 3825.0,
       3828.0, 1071.0, 1074.0, 1023.0, 1076.0, 1078.0, 1862.0, 2014.0,
       1969.0, 1223.0, 1689.0, 1251.0, 1749.0, 1507.0, 2545.0, 1613.0,
       2461.0, 1141.0, 1231.0, 9301.0, 3612.0, 3632.0, 1777.0, 1338.0,
       7577.0, 3581.0, 3453.0, 1432.0, 1024.0, 1091.0, 1026.0, 1057.0,
       1902.0, 2015.0, 1851.0, 1511.0, 1443.0, 2806.0, 4907.0, 6367.0,
       2451.0, 1944.0, 2033.0, 1442.0, 1541.0, 1505.0, 1352.0, 8926.0,
       7245.0, 1065.0, 2035.0, 2021.0, 1991.0, 2042.0, 2902.0, 3481.0,
       2721.0, 1241.0, 1086.0, 2141.0, 1324.0, 6814.0, 6904.0, 3751.0,
       3512.0, 3563.0, 3454.0, 1188.0, 1021.0, 1104.0, 2037.0, 2011.0,
       1966.0, 1211.0, 1628.0, 1561.0, 2401.0, 2571.0, 1261.0, 1319.0,
       1359.0, 8802.0, 3452.0, 1813.0, 1059.0, 1901.0, 1161.0, 1911.0,
       1974.0, 2116.0, 2406.0, 2624.0, 2595.0, 4132.0, 8223.0, 2215.0,
       5425.0, 3633.0, 1343.0, 1013.0, 1016.0, 1175.0, 1222.0, 1274.0,
       4102.0, 6862.0, 6871.0, 3704.0, 1073.0, 1012.0, 1083.0, 2114.0,
       1601.0, 2022.0, 1788.0, 2594.0, 2316.0, 3286.0, 3471.0, 3641.0,
       1156.0, 8226.0, 7705.0, 1566.0, 8446.0, 7891.0, 3755.0, 3992.0,
       1093.0, 1062.0, 1402.0, 2023.0, 1695.0, 1971.0, 1382.0, 2548.0,
       2563.0, 1611.0, 2986.0, 2286.0, 5701.0, 1092.0, 1325.0, 3826.0,
       3523.0, 1831.0, 1825.0, 1843.0, 1132.0, 1834.0, 1693.0, 2405.0,
       1607.0, 5531.0, 7251.0, 2272.0, 1317.0, 1948.0, 1399.0, 1424.0,
       1381.0, 3841.0, 2025.0, 1963.0, 2103.0, 2555.0, 2182.0, 2242.0,
       6002.0, 2377.0, 2132.0, 1312.0, 3701.0, 2026.0, 1502.0, 2171.0,
       1964.0, 1027.0, 1096.0, 2201.0, 3442.0, 1404.0, 7331.0, 6971.0,
       6605.0, 1484.0, 1504.0, 1606.0, 2585.0, 2586.0, 3135.0, 3648.0,
       1531.0, 8232.0, 2855.0, 1321.0, 1334.0, 9902.0, 8191.0, 3706.0,
       1113.0, 4814.0, 5629.0, 2031.0, 2131.0, 7325.0, 3527.0, 3583.0,
       1185.0, 1037.0, 2051.0, 2133.0, 2105.0, 1705.0, 1787.0, 1215.0,
       1715.0, 1567.0, 2613.0, 2221.0, 2231.0, 1391.0, 4301.0, 1271.0,
       1503.0, 3813.0, 3533.0, 1036.0, 1906.0, 1521.0, 2391.0, 2492.0,
       2162.0, 1631.0, 2274.0, 7311.0, 6931.0, 5308.0, 1934.0, 2121.0,
       1131.0, 1687.0, 1115.0, 2532.0, 5683.0, 5571.0, 7421.0, 8055.0,
       3521.0, 3433.0, 1822.0, 1011.0, 1757.0, 2628.0, 2614.0, 3642.0,
       4261.0, 1452.0, 6164.0, 6718.0, 6955.0, 7231.0, 3402.0, 1218.0,
       1272.0, 1742.0, 2542.0, 2982.0, 3068.0, 4811.0, 3625.0, 3602.0,
       1411.0, 1433.0, 1943.0, 2064.0, 3862.0, 8251.0, 1622.0, 2314.0,
       4823.0, 2661.0, 1094.0, 2165.0, 2071.0, 7437.0, 7587.0, 3925.0,
       3831.0, 3524.0, 2106.0, 1544.0, 2743.0, 5216.0, 5466.0, 4255.0,
       1456.0, 2151.0, 3744.0, 1461.0, 2807.0, 2441.0, 6659.0, 4339.0,
       2651.0, 3438.0, 1462.0, 1216.0, 1445.0, 5447.0, 1454.0, 6661.0,
       1315.0, 1318.0, 9207.0, 7688.0, 3769.0, 1871.0, 1945.0, 1852.0,
       1624.0, 1276.0, 1423.0, 1973.0, 1713.0, 1028.0, 2061.0, 8477.0,
       3534.0, 1941.0, 3039.0, 3331.0, 2144.0, 2181.0, 2912.0, 2321.0,
       3443.0, 6663.0, 3832.0, 3903.0, 3705.0, 1486.0, 1182.0, 1135.0,
       2013.0, 1617.0, 1396.0, 1648.0, 3845.0, 3815.0, 3762.0, 3555.0,
       1483.0, 1435.0, 1967.0, 1421.0, 2332.0, 3161.0, 5384.0, 2673.0,
       2371.0, 3621.0, 1108.0, 1353.0, 1703.0, 1688.0, 2496.0, 8219.0,
       9307.0, 3205.0, 8531.0, 1045.0, 1333.0, 4158.0, 3522.0, 1861.0,
       2104.0, 1704.0, 2514.0, 2172.0, 3628.0, 2101.0, 8921.0, 3817.0,
       1827.0, 3067.0, 1354.0, 1816.0, 1671.0, 1551.0, 2396.0, 2904.0,
       2211.0, 2252.0, 5702.0, 7064.0, 2635.0, 2914.0, 2632.0, 8913.0,
       1815.0, 1623.0, 1127.0, 3312.0, 2583.0, 2581.0, 5165.0, 8244.0,
       8225.0, 8911.0, 6538.0, 3553.0, 1824.0, 2034.0, 1702.0, 2903.0,
       2235.0, 2351.0, 2161.0, 3171.0, 2719.0, 5247.0, 5916.0, 1351.0,
       2082.0, 1525.0, 2573.0, 2518.0, 2311.0, 2718.0, 4701.0, 8011.0,
       7335.0, 4105.0, 3734.0, 1509.0, 2611.0, 2317.0, 3081.0, 2713.0,
       4691.0, 8243.0, 8224.0, 7333.0, 6891.0, 3816.0, 3526.0, 3703.0,
       2723.0, 1398.0, 1273.0, 3741.0, 1949.0, 5672.0, 8241.0, 2343.0,
       2275.0], dtype=object)

In [13]:
#pd.crosstab(Filtered_ovin['VertGem'],Filtered_ovin['AankGem'])
ovin[['OPID','Amsterdam_vpl']]

            OPID  Amsterdam_vpl
0       11101001            0.0
1       11101001            0.0
2       11101002            0.0
3       11101003            0.0
4       11101003            0.0
...          ...            ...
908380  17451072            0.0
908381  17451072            0.0
908382  17451072            0.0
908383  17451072            0.0
908384  17452115            0.0

[908385 rows x 2 columns]