In [1]:
import pandas as pd
import numpy as np

In [2]:
folder = 'C:/Users/jullian/Desktop/Jullian/Jullian/Data/DANS/OViN_2011-2017_Final/OViN_2011-2017_Final/'
filename = 'OVIN_2011-2017.csv'
path = folder + filename
ovin = pd.read_csv(path)

ovin['VerplNr'] = pd.to_numeric(ovin['VerplNr'],errors = 'coerce')
ovin['AankPC'] = pd.to_numeric(ovin['AankPC'],errors = 'coerce')
ovin['VertPC'] = pd.to_numeric(ovin['VertPC'],errors = 'coerce')
ovin['BuurtAdam'] = pd.to_numeric(ovin['BuurtAdam'],errors = 'coerce')

temp['RVertStat'] = temp['RVertStat'].fillna(999)
temp['RVertStat'] = temp['RVertStat'].astype(int)
temp['RAankStat'] = temp['RAankStat'].fillna(999)
temp['RAankStat'] = temp['RAankStat'].astype(int)

C:\Users\jullian\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3051: DtypeWarning: Columns (34,35,89,90,95,96,97,98,101,102,107,108,109,110,117,130,143,150,165,173,174,179) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
#ovin['OPID'] = ovin['OPID'].astype('str')
#ovin['Jaar'] = ovin['Jaar'].astype('str')
#ovin['OPID2'] = ovin['OPID'].str.cat(ovin['Jaar'])
#print(len(ovin['OPID2']))
#print(len(ovin['OPID2'].unique()))
#print(len(ovin['OPID'].unique()))

In [3]:
# This function creates a column which tells whether the individual made a trip in Amsterdam
def Amsterdam_trip(ovin):
    #ovin['VerplNr'] = pd.to_numeric(ovin['VerplNr'],errors = 'coerce')
    # add column with postal code area of a person's home
    #ovin['WoonPC'] = np.where(((ovin['Vertrekp']==int(1)) &  (ovin['VerplNr']==int(1))), ovin['VertPC'], np.NaN)
    ovin['Amsterdam_vpl'] = np.where(((ovin['VertGem']== '363') | (ovin['AankGem']=='363')),1,np.NaN)
    # persons with same id have same home
    #print(ovin[['OPID','Amsterdam_vpl']])
    ovin['Amsterdam_vpl'] = ovin[['OPID','Amsterdam_vpl']].groupby('OPID').ffill()
    ovin['Amsterdam_vpl'] = ovin[['OPID','Amsterdam_vpl']].groupby('OPID').bfill()
    ovin['Amsterdam_vpl'] = ovin['Amsterdam_vpl'].fillna(0)
    #print(ovin[['OPID','Amsterdam_vpl']])
    return ovin

In [4]:
# This function creates 
def Car_trip(ovin):
    # add column with postal code area of a person's home
    #ovin['WoonPC'] = np.where(((ovin['Vertrekp']==int(1)) &  (ovin['VerplNr']==int(1))), ovin['VertPC'], np.NaN)
    ovin['car_trip'] = np.where((ovin['RVm']== '6'),1,np.NaN)
    # persons with same id have same home
    ovin['car_trip'] = ovin[['OPID','car_trip']].groupby('OPID').ffill()
    ovin['car_trip'] = ovin[['OPID','car_trip']].groupby('OPID').bfill()
    ovin['car_trip'] = ovin['car_trip'].fillna(0)
    #print(ovin[['OPID','car_trip']])
    return ovin

In [5]:
def thuislocatie(ovin):
    ovin['home'] = np.where(((ovin['VerplNr'] == 1) & (ovin['Vertrekp'] == 1)),ovin['VertPC'],np.NaN)
    ovin['home'] = ovin[['OPID','home']].groupby('OPID').ffill()
    ovin['home'] = ovin['home'].fillna(0)
    return ovin

In [21]:
def Amsterdam_treinstation(ovin):
    ovin['Amsterdam_vertrekstation'] = np.where(((ovin['RVertStat'] >= 234) & (ovin['RVertStat'] <= 243))|(ovin['RVertStat'] == 250)|(ovin['RVertStat'] == 519)|(ovin['RVertStat'] == 602),ovin['RVertStat'],999)
    #ovin['Amsterdam_vertrekstation'] = ovin['Amsterdam_vertrekstation'].fillna(999)
    ovin['Amsterdam_aankomststation'] = np.where(((ovin['RAankStat'] >= 234) & (ovin['RAankStat'] <= 243))|(ovin['RAankStat'] == 250)|(ovin['RAankStat'] == 519)|(ovin['RAankStat'] == 602),ovin['RAankStat'],999)
    #ovin['Amsterdam_aankomststation'] = ovin['Amsterdam_aankomststation'].fillna(999)
    return ovin

In [22]:
temp = Amsterdam_trip(ovin)
temp = Car_trip(temp)
temp = thuislocatie(temp)
temp = Amsterdam_treinstation(temp)

In [7]:
l = temp[temp['Amsterdam_vpl']==1]
print(len(l['OPID'].unique())) # aantal individuen die een verplaatsing in Amsterdam heeft gemaakt.
l = l[l['car_trip']==1]
len(l['OPID'].unique()) #aantal individuen die met de auto een verplaatsing in Amsterdam hebben gedaan.

15514

4966

In [27]:
Filtered_ovin = temp[((temp['Amsterdam_vpl']== 1) & (temp['car_trip']== 1))]
PC4_Amsterdam = np.where(Filtered_ovin['BuurtAdam'] != 0,Filtered_ovin['home'],0)
PC4_Amsterdam = np.unique(PC4_Amsterdam)

# count how many individuals travelled to a specific AankPC 
count_AankPC = Filtered_ovin.groupby('AankPC').OPID.nunique()[PC4_Amsterdam]
count_VertPC = Filtered_ovin.groupby('VertPC').OPID.nunique()[PC4_Amsterdam]
count_BuurtAdam = Filtered_ovin.groupby('BuurtAdam').OPID.nunique()
count_Aankomststation = Filtered_ovin.groupby('Amsterdam_aankomststation').OPID.nunique()
count_Vertrekstation = Filtered_ovin.groupby('Amsterdam_vertrekstation').OPID.nunique()

# Filter the counts on amsterdam PC
#count_AankPC
#count_BuurtAdam
#count_AankPC
#count_Aankomststation
#count_Vertrekstation
#PC4_Amsterdam
#Filtered_ovin.groupby('AankPC').OPID.nunique()

#print(Filtered_ovin['AankPC'].value_counts())
#print(Filtered_ovin['BuurtAdam'].value_counts())

#count_AankPC.to_csv(r'C:\Users\jullian\Desktop\Jullian\Jullian\Data\SimPark\Jullian\Schedules_filtering\AankPC_count.csv')
#count_VertPC.to_csv(r'C:\Users\jullian\Desktop\Jullian\Jullian\Data\SimPark\Jullian\Schedules_filtering\VertPC_count.csv')
#count_BuurtAdam.to_csv(r'C:\Users\jullian\Desktop\Jullian\Jullian\Data\SimPark\Jullian\Schedules_filtering\BuurtAdam_count.csv')
count_Aankomststation.to_csv(r'C:\Users\jullian\Desktop\Jullian\Jullian\Data\SimPark\Jullian\Schedules_filtering\Aankomststation_count.csv')
count_Vertrekstation.to_csv(r'C:\Users\jullian\Desktop\Jullian\Jullian\Data\SimPark\Jullian\Schedules_filtering\Vertrekstation_count.csv')
#Filtered_ovin.to_csv(r'C:\Users\jullian\Desktop\Jullian\Jullian\Data\SimPark\Jullian\Schedules_filtering\Filtered_ovin.csv')

C:\Users\jullian\Anaconda3\lib\site-packages\ipykernel_launcher.py:27: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
C:\Users\jullian\Anaconda3\lib\site-packages\ipykernel_launcher.py:28: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.

array([999, 237, 240, 243, 239, 242, 238, 602, 234], dtype=int64)

In [13]:
#pd.crosstab(Filtered_ovin['VertGem'],Filtered_ovin['AankGem'])
ovin[['OPID','Amsterdam_vpl']]

            OPID  Amsterdam_vpl
0       11101001            0.0
1       11101001            0.0
2       11101002            0.0
3       11101003            0.0
4       11101003            0.0
...          ...            ...
908380  17451072            0.0
908381  17451072            0.0
908382  17451072            0.0
908383  17451072            0.0
908384  17452115            0.0

[908385 rows x 2 columns]